[run]
branch = True

[report]
# Regexes for lines to exclude from coverage
exclude_lines =
    # pragmas
    pragma: no cover

    # debug vars
    def __repr__
    if self\.debug
    debug
    DEBUG

    # error handling
    raise AssertionError
    raise NotImplementedError
    raise
    warnings\.warn

    if __name__ == .__main__.:

    @(abc\.)?abstractmethod
    
    # dont test backup imports
    pysqlite3
    
    # dont test exceptions
    Exception
    websockets.exceptions

    # dont test for convenience type checks
    isinstance

    # dont test for web assets
    requests.get

ignore_errors = True

omit = 
  aisdb/tests/*

