**.csv
**.db
**.egg-info
**.eggs
**.log
**.md
**.nm4
**.pickle
**.png
**/debug
**/debug/*
**__pycache__**
**webdriver
*.d
*.db
*.egg-info  
*.eggs/
*.pickle
*.pyc
*.pyd
*.pyo
*.txt
*.whl
./*.db
.cache
.eggs
.git
.pytest_cache
LICENSE.txt
aisdb_rust/.git
aisdb_rust/.gitignore
aisdb_rust/target
aisdb_rust/target/*
aisdb_rust/target/**
aisdb_rust/testdata
aisdb_rust/testdata/*
aisdb_rust/testdata/**
docker/node_modules
docker/node_modules/**
docker/package-lock.json
docs/html
docs/html/*
docs/html/**
docs/html/rust/**
docs/source/api
testdata
testdata/*
tests/data
tests/data/**
