**.csv
**.db
**.egg-info
**.eggs/
**.log
**.md
**.nm4
**.pickle
**.png
**/debug/*
**__pycache__**
**webdriver
*.d
*.egg-info  
*.eggs/
*.pickle
*.pyc
*.pyd
*.pyo
*.txt
*.whl
.cache
.eggs
.git
.pytest_cache
docker-compose.override.yml
docs/html
docs/html**
rust/target/
rust/target/**
rust/Cargo.lock
tests/data
tests/data/**
