**.csv
**.db
**.egg-info
**.eggs/
**.log
**.md
**.pickle
**.png
**__pycache__**
**webdriver
*.egg-info  
*.eggs/
*.pickle
*.pyc
*.pyd
*.pyo
*.txt
.cache
.eggs
.git
.pytest_cache
docker-compose.override.yml
docs/html
docs/html**
tests/data
tests/data/**
