*__pycache__*
*.swp
*.db
*.db-journal
*.csv
tmp/*
tests/output/*
!output/scriptoutput.png
ais/webdata/webdriver*
*.cookie
*.log
*.egg-info
docs/html/*
docs/source/sphinx-apidoc/*
docs/docserver/node_modules/*
docs/docserver/package-lock.json
