**/node_modules/*
**package-lock.json
*.cookie
*.csv
*.db
*.db-journal
*.egg-info
*.eggs
*.log
*.pyc
*.swp
*__pycache__*
.env
ais/webdata/webdriver*
docs/html/*
docs/source/readme.rst
docs/source/sphinx-apidoc/*
tests/output/*
tmp/*
!output/scriptoutput.png
