**.lock
**/__pycache__
**/node_modules/*
**package-lock.json
*.cookie
*.csv
*.db
*.db-journal
*.egg-info
*.eggs
*.log
*.pyc
*.swp
*__pycache__*
.env
.pytest_cache
.pytest_cache/*
ais/webdata/webdriver*
aisdb.egg-info
aisdb_rust/.git
aisdb_rust/.git/**
aisdb_rust/.gitignore
aisdb_rust/target
aisdb_rust/testdata
docker-compose.override.yml
docs/html/*
docs/source/api/*
docs/source/readme.rst
tests/output/*
tmp/*
