html {
  height: 100%
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  height: 100%;
}

.selectform_button {
  font-size: 1em;
  background-color: rgba(100,100,100,0.2);
  border: 1px solid black;
  cursor: pointer;
  border-radius: 2px;
}
.selectform_button:active {
  background-color: rgba(100,100,100,0.65);
}

.dateinput {
  text-align: right;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.dateinputlabel {
  text-align: right;
}


.hiddenmenu-btn {
  --font-size: 0.98em;
  --background-color: rgba(100,100,100,0.2);
  --border: 1px solid black;
  cursor: pointer;
  --border-radius: 0px;
  --width: 10em;
  --overflow: auto;
}

.hiddenmenu-item {
  cursor: pointer;
}

.hiddenmenu {
  position: relative;
  display: inline-block;
  flex-direction: column-reverse;
  text-align: center;
  min-width: 7.25vw;
}

.hiddenmenu-content {
  max-height: 65vh;
  max-width: 50vw;
  overflow-y: auto;
  display: none;
  position: absolute;
  bottom: 24px;
  z-index: 1;
  background-color: #FFFFFF;
  text-align: right;
}

.hiddenmenu-content div {
  display: inline-block;
}

.hiddenmenu-item {
  text-decoration: none;
  display: block;
  display: inline-block;
  padding: 0px 6px;
  min-width: 14em;
}

.hiddenmenu-item:hover {
  background-color: rgba(100,100,100,0.5);
}

.colordot {
  font-size: 110%;
  display: inline-block;
}

.show {
  display: block;
}


.optionSelectContainer {
  font-size: .8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: .3em;
  --margin-left: .5em;
  --margin-right: .5em;
  flex-grow: 100;
}

.ol-mouse-position {
  color: yellow;
  --font-family: system-ui, monospace;
  font-family: Menlo, Monaco, Consolas, monospace;
  text-align: right;
  background: rgba(100,100,100,0.3);
}

.map {
  background-color: #282c34;
  overflow: auto;
  width: 100vw;
}

.overlay-popup {
  color: white;
  font-family: Menlo, Monaco, Consolas, monospace;
  text-align: left;
  background: rgba(50,50,50,0.8);
}

.overlay-popup div {
  padding: 6px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 180px;
}

@media screen and (min-width: 10px) {
  .map {
    height: calc(100vh - 8em);
  }
  .liquidlayout {
    height: 8em;
  }
  .widecol {
    min-width: 60vw;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
  }
  .col {
    min-width: 40vw;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
  }
  .shortcol {
    min-width: 20vw;
    margin-left: 2px;
    margin-right: 5vw;
    margin-top: 2px;
  }
  .flexfill {
    flex-grow: 100;
    min-width: 90vw;
    min-height: 2em;
    margin-top: 2px;
  }
}

@media screen and (min-width: 800px) {
  .map {
    height: calc(100vh - 4.5em);
  }
  .liquidlayout {
    height: 4.5em;
  }
  .widecol {
    min-width: 22vw;
    margin-left: 2px;
    margin-right: 2px;
  }
  .col {
    min-width: 16vw;
    margin-left: 2px;
    margin-right: 2px;
  }
  .shortcol {
    min-width: 4vw;
  }
  .flexfill {
    flex-grow: 100;
    min-width: 90vw;
    min-height: 1em;
  }
}

@media screen and (min-width: 1800px) {
  .map {
    height: calc(100vh - 2.25em);
  }
  .liquidlayout {
    height: 2.25em;
  }
  .widecol {
    min-width: 12.5vw;
    max-width: 25em;
    margin-left: 2px;
    margin-right: 2px;
  }
  .col {
    min-width: 4vw;
    max-width: 10em;
    margin-left: 2px;
    margin-right: 2px;
  }
  .shortcol {
    min-width: 3vw;
  }
  .flexfill {
    flex-grow: 90;
    min-width: 25vw;
    min-height: 1em;
  }
}

.statusmsg {
  text-align: right;
  margin-right: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
